/* font-family: "Roboto",s-serif;
sanfont-family: "Raleway", sans-serif; */


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    block-size;
    display: block
}

.conteiner {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin: auto;
    gap: 40px;


}

.contacts-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.business {
    background-color: #2E2F42;
    color: #fff;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-align: center;
    margin: 1158px;
    margin: 0 auto;
    margin-bottom: 188px;
    padding: 188px;

}



.business-list {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 572px;
    margin-bottom: 48px;
    margin: 0 auto;
}

.orders {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin: 64px;
    padding: 16px 32px 16px 32px;
}




.orders:hover,
.orders:focus {
    background-color: #404bbf;
    color: #fff;
}

.principles-list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;



}


.principles-item {
    gap: 24px;
    margin: 0;

}


.principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: calc((100% - 72px) /4);

}

.principles-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.ourteam {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    padding: 120px;
}


.ououtext-transform {
    text-transform: capitalize;
    text-align: center;
}

.team-teamrteam-item {
    background-color: #FFFFFF
}

.ourteam-team {
    background-color: #F4F4FD
}

.ourteam-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}


.ourteam-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 16px 16px 32px;
    margin: 0;
    width: calc((100% - 72px) / 4);
    margin: 0;
}

.ourteam-item {
    padding: 120px 0 120px;
    gap: 24px;
    padding: 120px 0 120px;
    padding: 120px 0;
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourteam-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}


.ourteam-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    padding: 120px;

}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    display: flex;
    margin:


}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}